.com-markdown-preview {
  background: #fff !important;
  padding: 20px;
  font-size: 16px;
  color: #666;
  font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", STHeiti,
    "Microsoft YaHei", serif;
  tab-size: 4;
  .header {
    .title {
      font-size: 2em;
      font-weight: 300;
      line-height: 35px;
      margin-bottom: 25px;
      color: #333;
    }
    .tags {
      padding: 0;
      li {
        display: inline-block;
        background: #edeff1;
        padding: 5px 10px;
        margin-right: 10px;
        color: #333;
        font-size: 14px;
        border-radius: 3px;
        line-height: 16px;
      }
    }
  }
  h1 {
    color: #333;
  }
  p {
    font-size: 16px;
    line-height: 1.8;
  }
  blockquote {
    margin: 10px 0 0;
    padding: 15px 20px;
    border-left: 5px solid #2479cc;
    background-color: #f8f8f8;
    p {
      padding: 0;
      margin: 0;
    }
  }
  table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
    thead {
      display: table-header-group;
      vertical-align: middle;
      border-color: inherit;
    }
    tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;
    }
    td,
    th {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }
    tr:nth-child(2n) {
      background: #f6f8fa;
    }
  }
}
