@import "./common.less";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

#app {
  width: 100%;
  min-width: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background: #f0f2f5;
  min-height: 100%;
  width: 100%;
  color: #333;
}